#container{
    width: 1140px;
    background-color: blueviolet;
}

#blog-post-container{
    width: 75%;
    background-color: palevioletred;
}

#other-posts{
    width: 25%;
    background-color: green;
}

#author-box{
    border: 1px solid red;
}